{{# partial "titulo" }}	
	<title>Donde Invierto</title>
{{/partial}}
		
{{# partial "contenido" }}	

<h4>Busca tu empresa por nombre:</h4>
<form action="/empresas" >
  <div class="row">
	  <div class="col-md-10">
		  <input type="text" class="form-control" name="filtroNombre">
		</div>
		<div class="col-md-2">
		  <input type="submit" class="form-control btn btn-default" value="Buscar">
		</div>
  </div>
</form>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Empresa</th>
      <th width="1">Acciones</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#empresas}}
    <tr>
      <td>{{nombre}}</td>
      <td width="1"><a class="btn btn-primary" href="/empresas" role="button">Modificar</a></td>
	  <td width="1"><a class="btn btn-primary" href="/empresas/{{nombre}}" role="button">Ver Cuentas</a></td>
    </tr>
   {{/empresas}}
  </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Agregar Empresa
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form action="/empresas" id="needs-validation" method="POST" novalidate>
		    <label for="exampleInputEmail1">Nombre de la empresa</label>
		    <input type="text" class="form-control" id="nuevaEmpresa" name="nuevaEmpresa" aria-describedby="emailHelp" placeholder="Ejemplo: FlixNet" pattern="[A-Za-z]+" required>
		    <small id="emailHelp" class="form-text text-muted">El nombre de tu empresa debe ser unico...como vos ;)</small>
		  	<div class="invalid-feedback">
        		<p id="feedback">Por favor ingresa un nombre para la empresa (solo letras).</p>
      		</div>
		  <button type="submit" style="float: right" class="btn btn-primary">Aceptar</button>
		  </div>
		</form>
      </div>
    </div>
  </div>
</div>

<script>
(function() {
  "use strict";
  window.addEventListener("load", function() {
    var form = document.getElementById("needs-validation");
    form.addEventListener("submit", function(event) {
      if (form.checkValidity() == false) {
        event.preventDefault();
        event.stopPropagation();
        document.getElementById("feedback").innerHTML = "Ingrese un nombre, solo con letras.";
      }
      form.classList.add("was-validated");
    }, false);
  }, false);
}());
</script>

{{/partial}}
				
{{> layout.hbs }}