{{# partial "titulo" }}	
	<title>Donde Invierto</title>
{{/partial}}
		
{{# partial "contenido" }}
<div class="jumbotron">
  <h1 class="display-3">Bienvenido!</h1>
  <p class="lead">En "Donde Invierto" podes encontrar la solucion a tus problemas. Cualquier duda no dudes en contactarnos.</p>
  <hr class="my-4">
  <p>Disclaimer: no nos hacemos responsables por empresas en quiebra debido a nuestras recomendaciones.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Suerte!</a>
  </p>
</div>
{{/partial}}
				
{{> layout.hbs }}