{{# partial "titulo" }}	
<title>Donde Invierto</title>
{{/partial}}

{{# partial "contenido" }}
<div class="jumbotron">
	<h1 class="display-3">Bienvenido, {{usuario}}!</h1>
	<p class="lead">En "Donde Invierto" podes encontrar la solucion a tus problemas. Por cualquier cuesti&oacuten, no dudes en contactarnos.</p>
	<hr class="my-4">
	<p>Descargo de responsabilidad: No nos hacemos responsables por empresas en quiebra debido a nuestras recomendaciones.</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button">Comenz&aacute!</a>
	</p>
</div>
{{/partial}}

{{> layout.hbs }}