{{# partial "titulo" }}	
<title>Donde Invierto</title>
<script src="validarDatosEmpresa.js"></script>
{{/partial}}

{{# partial "contenido" }}	

<table class="table" style="margin-top: 60px;">
	<thead class="thead-inverse">
		<tr>
			<th>Empresa</th>
			<th width="1">Acciones</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#empresas}}
		<tr>
		<form action="/metodologias" method="POST" >
			<td><input class="form-control mr-sm-2" type="text" value={{nombre}} name="empresa" id="empresa" readonly></td>
			<td>
			<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Agregar</button>	
			</form></div>
</form></td>
			
		</tr>
		{{/empresas}}
	</tbody>
</table>

{{/partial}}


{{> layout.hbs }}
