{{# partial "accion" }}
	<th>Acci&oacuten</th>
{{/partial}}	

{{# partial "boton" }}
<td width="1"><a class="btn btn-outline-danger my-2 my-sm-0" href="empresas/{{empresa}}/indicadores/{{nombre}}" role="button">Seleccionar</a></td>
{{/partial}}	

{{> indicadores-layout.hbs }}